#footer-wrapper
  footer#footer.container
    // Contact
    section
      h2 Get in touch
      div
        .row
          .6u
            dl.contact
              dt Facebook
              dd
                a(href='https://www.facebook.com/ssxelerator/') South Star Xelerator
              dt Email
              dd
                a(href='mailto:service@ssxelerator.com') service@ssxelerator.com
          .6u
            dl.contact
              //
                <dt>Address</dt>
                <dd>
                </dd>
                <dt>Phone</dt>
                <dd></dd>
    .row
      .12u
        #copyright
          | &copy; 2014 by SSX Inc. All rights reserved