doctype html
//
  ZeroFour 2.5 by HTML5 UP
  html5up.net | @n33co
  Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
html
  head(prefix="og: http://ogp.me/ns#")
    title 南星創業加速器 South Star Xelerator
    link(rel='shortcut icon', href='images/ssx_logo_icon.png', type='image/png')
    meta(http-equiv='content-type', content='text/html; charset=utf-8')
    meta(name='description', content='SSX南星創業加速器由台灣國境之南出發，整合各項創業資源，希望透過培育出更多的新創公司，培育在地新創文化，有效實踐矽⾕精神在台灣的最終願景。')
    meta(name='keywords', content='SSX, 南星, 南星創業加速器')
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800', rel='stylesheet', type='text/css')
    script(src='js/jquery.min.js')
    script(src='js/jquery.dropotron.min.js')
    script(src='js/config.js')
    script(src='js/skel.min.js')
    script(src='js/skel-panels.min.js')
    noscript
      link(rel='stylesheet', href='css/skel-noscript.css')
      link(rel='stylesheet', href='css/style.css')
      link(rel='stylesheet', href='css/style-desktop.css')
    //if lte IE 9
      link(rel='stylesheet', href='css/ie9.css')
    //if lte IE 8
      script(src='js/html5shiv.js')
      link(rel='stylesheet', href='css/ie8.css')
    //if lte IE 7
      link(rel='stylesheet', href='css/ie7.css')

    meta(property="og:image" content="http://ssx-web.heroku.com/images/ssx_logo_black.png")
    meta(property="og:image:type" content="image/png")
    meta(property="og:image:width" content="300")
    meta(property="og:image:height" content="147")       
  body.homepage
    // Header Wrapper
    include ./header.jade
    // Main Wrapper
    block main-wrapper
    // Footer Wrapper
    include ./footer.jade
