{% extends "layout.html" %}

{% block title %}{{ gettext('南星創業加速器 South Star Xelerator - 關於SSX') }}{% endblock %}

{% block bodyclass %}left-sidebar{% endblock %}

{% block content %}
			<div id="main-wrapper">
				<div class="main-wrapper-style2">
					<div class="inner">
						<div class="container">
							<div class="row">
								<div class="4u">
									<div id="sidebar">

										<!-- Sidebar -->
									
											<section>
												<span class="image image-full"><img src="/images/about.png" alt="" /></span>
											</section>

									</div>
								</div>
								<div class="8u skel-cell-important">
									<div id="content">

										<!-- Content -->
									
											<article>
												<header class="major">
													<h2>{{ gettext('關於SSX') }}</h2>
													<span class="byline">{{ gettext('創業加速器發源自1950年代的美國，今日更成為眾多新創企業的最佳創業夥伴。透過系統化的經營與台灣南部適合新創的環境，SSX預期改善天使投資的成功機率，並提升投資回收及爆發的比例。') }}</span>
												</header>
												
												<p>{{ gettext('SSX南星創業加速器由台灣國境之南出發，整合各項創業資源，希望透過培育出更多的新創公司，培育在地新創文化，有效實踐矽⾕精神在台灣的最終願景。SSX著重下列六大領域的種子團隊開發，並歡迎所有Maker團隊的進駐申請與各創投基金的加入，期望創投者與創業者能透過這個平台互利成長。') }}</p>
												
												<h3>{{ gettext('六大重點領域')}}</h3>
												<p>{{ gettext('1. 科技硬體') }}<br />
												   {{ gettext('2. APP/Mobile') }}<br />
												   {{ gettext('3. 軟硬整合') }}<br />
												   {{ gettext('4. 實體產品') }}<br />
												   {{ gettext('5. 文創設計') }}<br />
												   {{ gettext('6. 服務創新') }}</p>
											</article>
								
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
			</div>
{% endblock %}
