extend ./includes/layout.jade
block main-wrapper
    // Main Wrapper
    #main-wrapper
      .main-wrapper-style2
        .inner
          .container
            .row
              .4u
                #sidebar
                  // Sidebar
                  section
                    span.image.image-full
                      img(src='images/about.png', alt='')
              .8u.skel-cell-important
                #content
                  // Content
                  article
                    header.major
                      h2 &#x95DC;&#x65BC;SSX
                      span.byline
                       | 創業加速器發源自1950年代的美國，今日更成為眾多新創企業的最佳創業夥伴。透過系統化的經營與台灣南部適合新創的環境，SSX預期改善天使投資的成功機率，並提升投資回收及爆發的比例。
                    p
                      | SSX南星創業加速器由台灣國境之南出發，整合各項創業資源，希望透過培育出更多的新創公司，培育在地新創文化，有效實踐矽⾕精神在台灣的最終願景。
                      | SSX著重下列六大領域的種子團隊開發，並歡迎所有Maker團隊的進駐申請與各創投基金的加入，期望創投者與創業者能透過這個平台互利成長。 
                    h3 六大重點領域
                    p
                      | 1. 科技硬體
                      br
                      | 2. APP/Mobile
                      br
                      | 3. 軟硬整合
                      br
                      | 4. 實體產品
                      br
                      | 5. 文創設計
                      br
                      | 6. 服務創新
      a#flow
      .main-wrapper-style3
        .inner
          .container
            .row
              .12u
                #content
                  // Content
                  article
                    header.major
                      h2 SSX加速流程
                      span.byline SSX的一個育成循環持續約4到6個⽉
                    p
                      | SSX的育成循環期間有各項創業課程及業界Mentor給予新創團隊適當的coaching服務，每一個循環預計
                      | 評選15到20組新創團隊，提供其進駐機會，Maker精神亦為主要評選考量之一。在育成階段，與SSX合作的數
                      | 十位企業主也將提供多種生產設備資源，方便種子團隊製作任何初期產品Prototype，解決新創團隊初期找尋
                      | 資源不易的問題。SSX在育成加速的最後階段會舉辦Demo Day，邀集產業潛在客⼾、天使基金、生產合作廠商
                      | 等讓新創團隊能有效的『被看⾒』。
                    span.image.image-centered
                      img(src='images/flow.png', alt='')
      .main-wrapper-style2
        .inner
          .container
            .row
              .12u.skel-cell-important
                #content
                  // Content
                  article
                    header.major
                      h2 Let&apos;s Do This!
                      span.byline Maker團隊申請
                    p
                      | 你已經有了產品雛形，但不知道下⼀步可以怎麼做嗎？
                      br
                      | 你已經創建好網路服務或APP，但不知道怎樣完善並擴大規模嗎？
                      br
                      | 你已經有了完整的產品或服務，但亟需了解如何產生或加強獲利嗎？
                    footer
                      a.button.medium.fa.fa-arrow-circle-o-right(href='contact') 馬上申請