extend ./includes/layout.jade
block main-wrapper
    // Main Wrapper
    #main-wrapper
      .main-wrapper-style2
        .inner
          .container
            .row
              .12u.skel-cell-important
                #content
                  // Content
                  article
                    header.major
                      h2 四大協助
                      span.byline SSX給予四大方面的協助：資金募集、育成輔導、軟體資源提供與硬體資源提供
                  // Article list
                  section.box-article-list
                    // Excerpt
                    article.box-excerpt
                      a.image.image-left(href='#')
                        img(src='images/pic01.jpg', alt='')
                      div
                        header
                          h3
                            a(href='#') 資金募集
                        p
                          | SSX透過與天使資金的合作，為新創企業的每個階段提供適時的財務協助。SSX的Angel來源包含成功大學校友、獨立Angel、企業Angel等。
                    // Excerpt
                    article.box-excerpt
                      a.image.image-left(href='#')
                        img(src='images/pic02.jpg', alt='')
                      div
                        header
                          h3
                            a(href='#') 育成輔導
                        p
                          | 創業加速器為有意創業的Maker提供創業智庫與育成輔導，不同產業的資深Mentor將提供自身的經驗與知識
                          | ，協助新創團隊定位及確認各項概念的可執⾏性、強化Product / Service的產出並連結⾄目標市場、傳承企
                          | 業營運該具備的技能及知識。這項加速服務預期提升創業團隊的效率，讓團隊可以更專注于核心業務。
                    // Excerpt
                    article.box-excerpt
                      a.image.image-left(href='#')
                        img(src='images/pic03.jpg', alt='')
                      div
                        header
                          h3
                            a(href='#') 軟體資源提供
                        p SSX提供各項創業所需軟體/服務資源：
                        ul.style3
                          li
                            | 財務/會計服務
                          li
                            | 法務/專利服務
                          li
                            | MIS服務
                          li
                            | 社群服務
                          li
                            | 各項管理服務
                    // Excerpt
                    article.box-excerpt
                      a.image.image-left(href='#')
                        img(src='images/pic04.jpg', alt='')
                      div
                        header
                          h3 
                            a(href='#') 硬體資源提供
                        p SSX提供各項創業所需硬體資源：
                        ul.style3
                          li
                            | 生產資源：從3D printing、CNC加⼯、SMT/DIP、模具加⼯等實體創新需要的資源及專業技師技術