{% extends "layout.html" %}

{% block title %}{{ gettext('南星創業加速器 South Star Xelerator - 加速團隊') }}{% endblock %}

{% block bodyclass %}no-sidebar{% endblock %}

{% block content %}		
			<div id="main-wrapper">
				<div class="main-wrapper-style2">
					<div class="inner">
						<div class="container">
							<div class="row">
								<div class="12u skel-cell-important">
									<div id="content">

										<!-- Content -->
									
											<article>
												<header class="major">
													<h2>{{ gettext('加速團隊') }}</h2>
												</header>
											</article>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="1u"></div>
								<div class="2u">
									<article class="item float">
										<!-- <a href="#" class="image fit"> -->
											<img src="/images/unavailable.png" alt="" />
										<!-- </a> -->
										<header>
											<h3>Extreme Force</h3>
											<p>{{ gettext('了解你的肌肉極限') }}</p>
										</header>
									</article>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
{% endblock %}			