<!DOCTYPE HTML>
<html>
	<head>
		<title>{{ gettext('南星創業加速器 South Star Xelerator - 聯絡我們') }}</title>
		<link rel="shortcut icon" href="/images/ssx_logo_icon.png" type="image/png"/>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800" rel="stylesheet" type="text/css" />
		<script src="/js/jquery.min.js"></script>
		<script src="/js/jquery.dropotron.min.js"></script>
		<script src="/js/config.js"></script>
		<script src="/js/skel.min.js"></script>
		<script src="/js/skel-panels.min.js"></script>
		<noscript>
			<link rel="stylesheet" href="/css/skel-noscript.css" />
			<link rel="stylesheet" href="/css/style.css" />
			<link rel="stylesheet" href="/css/style-desktop.css" />
		</noscript>
		<!--[if lte IE 9]><link rel="stylesheet" href="/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><script src="/js/html5shiv.js"></script><link rel="stylesheet" href="css/ie8.css" /><![endif]-->
		<!--[if lte IE 7]><link rel="stylesheet" href="/css/ie7.css" /><![endif]-->
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <script>
function initialize() {
  var myLatlng = new google.maps.LatLng(22.9946630,120.2207510);
  var mapOptions = {
    zoom: 16,
    center: myLatlng
  }
  var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

  var marker = new google.maps.Marker({
      position: myLatlng,
      map: map,
      title: '南星創速器'
  });
  var infowindow = new google.maps.InfoWindow({
      content: '<font color=black><b>南星創速器</b><br />SSX Inc.</font>'
  });
  infowindow.open(map,marker);
}

google.maps.event.addDomListener(window, 'load', initialize);

    </script>
	</head>
	<body class="left-sidebar">

		<!-- Header Wrapper -->
			<div id="header-wrapper">
				<div class="container">
					<div class="row">
						<div class="12u">
						
							<!-- Header -->
								<header id="header">
									<div class="inner">
									
										<!-- Logo -->
											<img src="/images/ssx_logo_icon_white.png" alt="" />
										
										<!-- Nav -->
											<nav id="nav">
												<ul>
													<li class="current_page_item"><a href="index.html">{{ gettext('首頁') }}</a></li>
													<li><a href="about.html">{{ gettext('關於SSX') }}</a></li>
													<li>
														<span>{{ gettext('創業加速') }}</span>
														<ul>
															<li><a href="accelerate.html">{{ gettext('加速服務') }}</a></li>
															<li><a href="accelerate.html#flow">{{ gettext('加速流程') }}</a></li>
															<li><a href="alumni.html">{{ gettext('加速團隊') }}</a></li>
														</ul>
													</li>
													<li><a href="partner.html">{{ gettext('合作夥伴') }}</a></li>
													<li><a href="contact.html">{{ gettext('聯絡我們') }}</a></li>
													<!--
													<li><a href="right-sidebar.html">Right Sidebar</a></li>
													-->
												</ul>
											</nav>
									
									</div>
								</header>

						</div>
					</div>
				</div>
			</div>
		
		<!-- Main Wrapper -->
			<div id="main-wrapper">
				<div class="main-wrapper-style2">
					<div class="inner">
						<div class="container">
							<div class="row">
								<div class="3u">
									<div id="sidebar">

										<!-- Sidebar -->
									
											<section>
												<header class="major">
													<h2>{{ gettext('聯絡我們 SSX INC.') }} </h2>
												</header>
												<p><br />Email: <a href="mailto:service@ssxelerator.com">service@ssxelerator.com</a><br/>Tel:<br /> Fax: </p>
											<a href="https://www.facebook.com/ssxelerator/" class="fa fa-facebook-square">
											</a>&nbsp;&nbsp;
											<a href="https://twitter.com/ssxelerator" class="fa fa-twitter-square">
											</a>
											</section>
									</div>
								</div>
								<div class="9u skel-cell-important">
												<div id="map-canvas"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		<!-- Footer Wrapper -->
			<div id="footer-wrapper">
				<footer id="footer" class="container">
							<!-- Contact -->
								<section>
									<h2>Get in touch</h2>
									<div>
										<div class="row">
											<div class="6u">
												<dl class="contact">
													<dt>Facebook</dt>
													<dd><a href="https://www.facebook.com/ssxelerator/">South Star Xelerator</a></dd>
													<dt>Twitter</dt>
													<dd><a href="https://twitter.com/ssxelerator">@ssxelerator</a></dd>
													<dt>Email</dt>
													<dd><a href="mailto:service@ssxelerator.com">service@ssxelerator.com</a></dd>
												</dl>
											</div>
											<div class="6u">
												<dl class="contact">
<!--													<dt>Address</dt>
													<dd>
													</dd>
													<dt>Phone</dt>
													<dd>(06) 000-0000</dd> -->
												</dl>
											</div>
										</div>
									</div>
								</section>
						
					<div class="row">
						<div class="12u">
							<div id="copyright">
								&copy; 2014 by SSX Inc. All rights reserved
							</div>
						</div>
					</div>
				</footer>
			</div>

	</body>
</html>
