{% extends "layout.html" %}

{% block title %}{{ gettext('南星創業加速器 South Star Xelerator - 聯絡我們') }}{% endblock %}

{% block extrahead %}
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <script>
function initialize() {
  var myLatlng = new google.maps.LatLng(22.9946630,120.2207510);
  var mapOptions = {
    zoom: 16,
    center: myLatlng
  }
  var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

  var marker = new google.maps.Marker({
      position: myLatlng,
      map: map,
      title: '南星創速器'
  });
  var infowindow = new google.maps.InfoWindow({
      {% if currentLocale == 'en_US' %}
      content: '<font color=black>SSX Inc.</font>'
      {% elif currentLocale == 'zh_TW' %}
      content: '<font color=black><b>南星創速器</b><br />SSX Inc.</font>'
      {% endif %}
  });
  infowindow.open(map,marker);
}

google.maps.event.addDomListener(window, 'load', initialize);

    </script>
{% endblock %}

{% block bodyclass %}left-sidebar{% endblock %}

{% block content %}		
		<!-- Main Wrapper -->
			<div id="main-wrapper">
				<div class="main-wrapper-style2">
					<div class="inner">
						<div class="container">
							<div class="row">
								<div class="3u">
									<div id="sidebar">

										<!-- Sidebar -->
									
											<section>
												<header class="major">
													<h2>{{ gettext('聯絡我們 SSX INC.') }} </h2>
												</header>
												<p><br />Email: <a href="mailto:service@ssxelerator.com">service@ssxelerator.com</a><br/>Tel:<br /> Fax: </p>
											<a href="https://www.facebook.com/ssxelerator/" class="fa fa-facebook-square">
											</a>&nbsp;&nbsp;
											<a href="https://twitter.com/ssxelerator" class="fa fa-twitter-square">
											</a>
											</section>
									</div>
								</div>
								<div class="9u skel-cell-important">
												<div id="map-canvas"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
{% endblock %}			
