{% extends "layout.html" %}

{% block title %}{{ gettext('南星創業加速器 South Star Xelerator') }}{% endblock %}

{% block bodyclass %}homepage{% endblock %}

{% block extrahead %}
<script src='/vendor/firebase/js/firebase.js'></script>
<script src='/vendor/react/js/react.min.js'></script>
<script src='/vendor/react/js/reactfire.min.js'></script>
<script src='http://www.preludels.com/prelude-browser-min.js'></script>
<script src="/js/react-infobox.js"></script>
{% endblock %}

{% block extraheader %}
<!-- Banner -->
	<div id="banner">
		<h2>
		{% if lang == "zh-TW" %}
		<strong>SSX: A Maker's Xelerator</strong><br />
		{% elif lang == "en-US" %}
		<strong>South Star Xelerator:</strong><br />
		{% endif %}
		{{ gettext('南星創業加速器: MAKER與創業家的推進器') }}</h2>
		<p>{{ gettext('想了解南星創業加速器如何運作嗎?') }}</p>
		<a href="about.html" class="button big fa fa-check-circle">{{ gettext('了解更多') }}</a>
	</div>
{% endblock %}

{% block content %}
			<div id="main-wrapper">
<!-- 				<a id="event-mf2014"></a>
				<div class="main-wrapper-style2">
					<div class="inner">
				
							<section class="container box-feature2">
								<div class="row">
									<div class="12u">
										<header class="first major">
											<h2>{{ gettext('活動預告') }}</h2>
											<span class="byline"><strong>Maker Faire Tainan 2014</strong></span>
										</header>
									</div>
								</div>

							</section>
						</div>
					</div> -->
				<div class="main-wrapper-style1">
					<div class="inner">
							<section class="container box-feature1">
								<div class="row">
									<div class="6u">
										<div class="subbox-feature1 subbox-grey">
											<header class="major">
												<h2>{{gettext('活動預告')}}</h2>
												<span class="byline"></span>
											</header>
											<div id="events">
											</div>
											<footer> 
												<div id="footer">
													<a href=events.html>More...</a> 
												</div>
											</footer>
										</div>
									</div>
									<div class="6u">
										<div class="subbox-feature1">
											<header class="major">
												<h2>{{gettext('部落格')}}</h2>
												<span class="byline"></span>
											</header>
											<div id="blogposts">
											</div>
											<footer> 
												<div id="footer">
													<a href=http://ssxtalks.wordpress.com/>More...</a> 
												</div>
											</footer>
										</div>
									</div>
								</div>		
							</section>
					</div>
				</div>
			</div>
<script>
React.renderComponent(InfoBox({'collectionname':'events'}), document.getElementById('events'));
</script>
<script>
React.renderComponent(InfoBox({'collectionname':'blog'}), document.getElementById('blogposts'));
</script>
{% endblock %}
