{% extends "layout.html" %}

{% block title %}{{ gettext('南星創業加速器 South Star Xelerator') }}{% endblock %}

{% block bodyclass %}homepage{% endblock %}

{% block extraheader %}
<!-- Banner -->
	<div id="banner">
		<h2>
		{% if lang == "zh-TW" %}
		<strong>SSX: A Maker's Xelerator</strong><br />
		{% elif lang == "en-US" %}
		<strong>South Star Xelerator:</strong><br />
		{% endif %}
		{{ gettext('南星創業加速器: MAKER與創業家的推進器') }}</h2>
		<p>{{ gettext('想了解南星創業加速器如何運作嗎?') }}</p>
		<a href="about.html" class="button big fa fa-check-circle">{{ gettext('了解更多') }}</a>
	</div>
{% endblock %}

{% block content %}
			<div id="main-wrapper">
				<a id="event-mf2014"></a>
				<div class="main-wrapper-style2">
					<div class="inner">
				
						<!-- Feature 2 -->
							<section class="container box-feature2">
								<div class="row">
									<div class="12u">
										<header class="first major">
											<h2>{{ gettext('活動預告') }}</h2>
											<span class="byline"><strong>Maker Faire Tainan 2014</strong></span>
										</header>
									</div>
								</div>
								<div class="row">
									<div class="7u">
										<section>
											<span class="image image-full"><img src="/images/event/makerfaire2014.png" alt="" /></span>
										</section>
									</div>
									<div class="5u">
										<section class="box-feature3">
											<p>{{ gettext('由SSX協辦的Maker Faire Tainan 2014即將在府城熱鬧展開，會中你將遇到許多功力深厚的Maker，見識到最酷最用心的Maker作品。
											在這邊偷偷透露一下，會場會出現很多機器人跟飛行器喔！另外還有各種實作區，不管你是大人還是小孩，都可以帶著滿滿的Maker體驗回家。') }}</p>
											<p>{{ gettext('日期') }}：2014.11.15 ~ 16</br>
												{{ gettext('時間') }}：10:00 ~ 17:00</br>
												{{ gettext('地點：成大光復校區 中正堂') }}</br>
												{{ gettext('地址：701 臺南市東區大學路一號') }}
											</p>
												<a href="http://www.makerfairetainan.tw/" class="button medium fa fa-arrow-circle-o-right" target="_blank">{{ gettext('官方網站') }}</a>
										</section>
									</div>
								</div>
							</section>

						</div>
				</div>

				<a id="event-openhouse"></a>
				<div class="main-wrapper-style4">
					<div class="inner">
				
						<!-- Feature 1 -->
							<section class="container box-feature1">
								<div class="row">
									<div class="12u">
										<header class="first major">
											<h2>{{ gettext('活動預告') }}</h2>
											<span class="byline"><strong>SSX Open House Party</strong></span>
										</header>
									</div>
								</div>
								<div class="row">
									<div class="3u">
									</div>
									<div class="6u">
										<section class="box-feature4">
										<div class="div-highlight">
											<p>{{ gettext('SSX總部終於決定落在小北路上，為了跟大家分享這股喜悅，我們邀請所有的粉絲朋友們跟我們一起開趴！
											我們的總部擁有很漂亮的室內與戶外空間，建築物本身也很有台南雅致古樸的老房子氣息，要不是坐落在安靜的住宅區，
											還真的很希望各位Maker朋友們把對我們總部的喜愛化為尖叫聲！當天我們會為參加的朋友準備超豐盛的餐點，人數有限，請大家儘快報名喔！') }}</p>
											<p>{{ gettext('日期') }}：2014.11.14</br>
												{{ gettext('時間') }}：19:00 ~ 22:00</br>
												{{ gettext('地點：SSX HQ') }}</br>
												{{ gettext('地址：臺南市小北路') }}
											</p>
										</div>
											<a href="#" class="button medium fa fa-arrow-circle-o-right" target="_blank">{{ gettext('我要跑趴') }}</a>
										</section>
									</div>
									<div class="3u">
									</div>
								</div>
							</section>

					</div>
				</div>
			</div>
{% endblock %}
