extend ./includes/layout.jade
block main-wrapper
    // Main Wrapper
    #main-wrapper
      .main-wrapper-style2
        .inner
          // Feature 2
          section.container.box-feature2
            .row
              .12u
                section
                  header.major
                    h2 
                    span.byline SSX的一個育成循環持續約4到6個⽉
                  p
                   | SSX的育成循環期間有各項創業課程及業界Mentor給予新創團隊適當的coaching服務，
                   | 每一個循環預計評選15到20組新創團隊，提供其進駐機會，Maker精神亦為主要評選考量之一。
                   | 在育成階段，與SSX合作的數十位企業主也將提供多種生產設備資源，方便種子團隊製作任何初期
                   | 產品Prototype，解決新創團隊初期找尋資源不易的問題。SSX在育成加速的最後階段會舉辦
                   | Demo Day，邀集產業潛在客⼾、天使基金、生產合作廠商等讓新創團隊能有效的『被看⾒』。
                  footer
                    a.button.medium.fa.fa-arrow-circle-o-right(href='about#flow') Let&apos;s do this
      .main-wrapper-style1
        .inner
          // Feature 1
          section.container.box-feature1
            .row
              .12u
                header.first.major
                  h2 四大加速協助
                  span.byline
                    strong 資金募集、育成輔導、軟體資源提供與硬體資源提供
            .row
              .3u
                section
                  span.image.image-full
                    img(src='images/pic01.jpg', alt='')
                  header.second.fa.fa-suitcase
                    h3 資金募集
                    span.byline Funding
              .3u
                section
                  span.image.image-full
                    img(src='images/pic02.jpg', alt='')
                  header.second.fa.fa-user
                    h3 育成輔導
                    span.byline Mentorship
              .3u
                section
                  span.image.image-full
                    img(src='images/pic03.jpg', alt='')
                  header.second.fa.fa-bar-chart-o
                    h3 軟體資源提供
                    span.byline Software resources
              .3u
                section
                  span.image.image-full
                    img(src='images/pic04.jpg', alt='')
                  header.second.fa.fa-cog
                    h3 硬體資源提供
                    span.byline Hardware resources
            .row
              .12u
                p
                  | 此之外，SSX亦例行舉辦各種交流活動，例如：WEEKLY DEMO、TRAINING DAY、SPEAKER SERIES、
                  | HAPPY HOUR、1-ON-1 HOUR、REUNION、RESOURCE MATCHING、INSIDER DAY、DEMO DAY ...
                a.button.big.fa.fa-check-circle(href='accelerate') 了解更多