{% extends "layout.html" %}

{% block title %}{{ gettext('南星創業加速器 South Star Xelerator') }}{% endblock %}

{% block bodyclass %}homepage{% endblock %}

{% block extrahead %}

{% endblock %}

{% block extraheader %}
<!-- Banner -->
	<div id="banner">
		<h2>
		{% if lang == "zh-TW" %}
		<strong>SSX: A Maker's Xelerator</strong><br />
		{% elif lang == "en-US" %}
		<strong>South Star Xelerator:</strong><br />
		{% endif %}
		{{ gettext('南星創業加速器: MAKER與創業家的推進器') }}</h2>
		<p>{{ gettext('想了解南星創業加速器如何運作嗎?') }}</p>
		<a href="about.html" class="button big fa fa-check-circle">{{ gettext('了解更多') }}</a>
	</div>
{% endblock %}

{% block content %}
			<div id="main-wrapper">
				<a id="event-mf2014"></a>
				<div class="main-wrapper-style2">
					<div class="inner">
				
						<!-- Feature 2 -->
							<section class="container box-feature2">
								<div class="row">
									<div class="12u">
										<header class="first major">
											<h2>{{ gettext('活動預告') }}</h2>
											<span class="byline"><strong>Maker Faire Tainan 2014</strong></span>
										</header>
									</div>
								</div>
								<div class="row">
									<div class="7u">
										<section>
											<span class="image image-full">
												{% if lang == "zh-TW" %}
												<img src="/images/event/makerfaire2014.png" alt="" />
												{% elif lang == "en-US" %}
												<img src="/images/event/makerfaire2014_en.png" alt="" />
												{% endif %}
											</span>
										</section>
									</div>
									<div class="5u">
										<section class="box-feature3">
											<p>{{ gettext('由SSX協辦的Maker Faire Tainan 2014即將在府城熱鬧展開，會中你將遇到許多功力深厚的Maker，見識到最酷最用心的Maker作品。在這邊偷偷透露一下，會場會出現很多機器人跟飛行器喔！另外還有各種實作區，不管你是大人還是小孩，都可以帶著滿滿的Maker體驗回家。') }}</p>
											<p>{{ gettext('日期') }}：2014.11.15 ~ 16</br>
												{{ gettext('時間') }}：10:00 ~ 17:00</br>
												{{ gettext('地點：成大光復校區 中正堂') }}</br>
												{{ gettext('地址：701 臺南市東區大學路一號') }}
											</p>
												<a href="http://www.makerfairetainan.tw/" class="button medium fa fa-arrow-circle-o-right" target="_blank">{{ gettext('官方網站') }}</a>
										</section>
									</div>
								</div>
							</section>

							<section class="container">
								<div class="row">
									<div class="12u box-feature2">
										<header class="first major">
											<h2>{{ gettext('部落格') }}</h2>
										</header>
									</div>
								</div>
								<div id="blogroll" class="row">
								</div>
							</section>
						</div>
				</div>
			</div>
			<script src="/js/blogposts.js"></script>
{% endblock %}
